
@{
    ViewData["Title"] = "Gallery";
}

<h1>Gallery</h1>

<body>
    <a href="images/image-2.jpg" data-lightbox="show-1" data-title="morning"><img src="https://scontent-lga3-1.xx.fbcdn.net/v/t1.0-9/73390692_1831413860323784_2889708401099538432_n.jpg?_nc_cat=103&_nc_oc=AQm0fyI8Ruty5VrNkZLn0Fy1eGVf9ty_GL7DC66wMkT19M4dtmAb_kNVXynxTAz3Fs8&_nc_ht=scontent-lga3-1.xx&oh=d429d42cbb5b64f8fae049f58ec823a0&oe=5E49374C" alt="alternative explanation"></a>

    <a href="images/image-3.jpg" data-lightbox="show-1" data-title="midday"><img src="https://scontent-lga3-1.xx.fbcdn.net/v/t1.0-9/69206956_1748786978586473_9040256067535110144_n.jpg?_nc_cat=109&_nc_oc=AQlZPhtxWNSGugQpsK4cxqbH86w2D06dDI27YVG6g4BoyFtD_mDUVhgCl08G4FujBME&_nc_ht=scontent-lga3-1.xx&oh=d1e41eba3e1dd5343f91c8376c9b8f87&oe=5E19434B"></a>

    <a href="images/image-4.jpg" data-lightbox="show-1" data-title="evening"><img src="https://scontent-lga3-1.xx.fbcdn.net/v/t1.0-9/61990802_1678870022244836_5930720322419425280_n.png?_nc_cat=103&_nc_oc=AQlEyOmOYU-JsMH-mtZZ1GzjtBg-JlTP0HjgCm46Ig_Lve4wd_50U4-GXTo93eDxDBg&_nc_ht=scontent-lga3-1.xx&oh=63ad4796080112ee887572ea6bb0193d&oe=5E619A1F" alt="alternative explanation"></a>

</body>
