@{
    ViewData["Title"] = "Home Page";
}

<body>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v4.0"></script>

    <div class="fb-page" data-href="https://www.facebook.com/gulfshoregraphics/"
         data-tabs="timeline" data-width="500" data-height="1000" data-small-header="true"
         data-adapt-container-width="false" data-hide-cover="true" data-show-facepile="false">
        <blockquote cite="https://www.facebook.com/facebook"
                    class="fb-xfbml-parse-ignore">
            <a href="https://www.facebook.com/facebook">Facebook</a>
        </blockquote>
    </div>
    <div style=" float:right" >
        <iframe id="ytplayer" type="text/html" width="560" height="315"
                src="https://www.youtube.com/embed/M7lc1UVf-VE?autoplay=1&loop=1&modestbranding=1&color=white"
                frameborder="0" allowfullscreen>
</div>



</body>
